<p class="ROCOBulletin">
  <div><% if (!OLSK_SPEC_UI()) { -%>
<script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js" data-label-1="<%= locals.ROCOBulletinProject || 'RP_X' %>" data-button-color="#424242" data-button-text-color="#FFFFFF" data-site="https://utopia.rosano.ca/" async></script>
<% } -%></div>
</p>