<form class="OLSKGazette OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank">

	<p>
		<input class="OLSKGazetteAddressField" type="email" name="email" placeholder="you@example.com" />
	</p>

	<input class="OLSKGazetteProjectField" type="hidden" name="metadata__project" value="<%= locals.OLSKGazetteProject || 'RP_X' %>"/>
	<input type="hidden" value="1" name="embed" />

	<p>
		<input class="OLSKGazetteSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('OLSKGazetteSubmitButtonText') %>" />
	</p>
	
</form>
