<form class="OLSKGazette" method="post" action="https://rosano.us11.list-manage.com/subscribe/post?u=7961db5bac34616b1bbf06ada&amp;id=e58e9bd9be" target="_blank" novalidate>

	<p>
		<input class="OLSKGazetteAddressField" type="email" name="EMAIL" placeholder="you@example.com"/>
	</p>

	<div style="position: absolute; left: -5000px;" aria-hidden="true">
		<input type="text" name="b_7961db5bac34616b1bbf06ada_e58e9bd9be" tabindex="-1" value="">
	</div>

	<p>
		<input class="OLSKGazetteSubmitButton" type="submit" value="<%= OLSKLocalized('OLSKGazetteSubmitButtonText') %>" />
	</p>
	
</form>
