<form class="ROCOBulletin OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank">

	<p>
		<input class="ROCOBulletinAddressField" type="email" name="email" placeholder="you@example.com" />
	</p>

	<input class="ROCOBulletinProjectField" type="hidden" name="metadata__project" value="<%= locals.ROCOBulletinProject || 'RP_X' %>"/>
	<input type="hidden" value="1" name="embed" />

	<p>
		<input class="ROCOBulletinSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('ROCOBulletinSubmitButtonText') %>" />
	</p>
	
</form>
