<% if (!OLSK_SPEC_UI()) { -%>
<script defer src="https://unpkg.com/@tryghost/portal@latest/umd/portal.min.js" data-ghost="https://list.rosano.ca" data-api="https://list.rosano.ca/ghost/api/content/" data-key="d55fde19a3ed50dd974232013d"></script>	
<% } -%>

<form class="ROCOBulletin OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank" data-members-form>

<p>
	<input class="ROCOBulletinAddressField" type="email" name="email" required="true" placeholder="you@example.com" data-members-email />
</p>

<!-- ghost -->
<input class="ROCOBulletinProjectField" type="hidden" name="labels" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" data-members-label />

<!-- buttondown -->
<input class="ROCOBulletinProjectFieldButtondown" type="hidden" name="tag" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" />
<input type="hidden" value="1" name="embed" />

<p>
	<input class="ROCOBulletinSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('ROCOBulletinSubmitButtonText') %>" />
	<strong class="ROCOBulletinFeedback"><%= OLSKLocalized('ROCOBulletinFeedbackText') %></strong>
</p>

<% if (!OLSK_SPEC_UI()) { -%>
<script type="text/javascript">
document.querySelector('.ROCOBulletin').removeAttribute('action');
</script>
<% } -%>

</form>

<style>
.ROCOBulletin .ROCOBulletinFeedback {
	display: none;
}

.ROCOBulletin.success input {
	display: none !important;
}

.ROCOBulletin.success .ROCOBulletinFeedback {
	display: unset !important;
}
</style>
